@import "../../../Style-Config/Mixins.scss",
  "../../../Style-Config/Variable.scss";

.contact-info-box {
  background-color: $black-lighter;
  width: 30%;
  border-radius: 16px;
  padding: 30px;
  margin-left: 8%;
  color: rgb(134, 125, 125);
  h4 {
      line-height: 2rem;
      margin-bottom: 1.4 rem;
    }
    @media only screen and (min-width: 768px)
    {
        .contact-info-box {
            width: 15%;
            margin-top: -16px;
    }
  }
    .contact-option {
        display: flex;
        align-items: center;
        margin-top: 15px;
        width: 100%; 
        padding: 15x;
    svg {
      color: aqua;
      font-size: 1rem;
    }
    .text {
      color: $white;
      margin-left: 1rem;
    }
  }
}
