@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Open+Sans:ital,wght@1,600&family=Smooch&family=Ubuntu&display=swap");

@import "./Style-Config/Variable.scss", "./Style-Config/Mixins.scss";
* {
  margin: 0px;
  padding: 0px;
  font-family: "Oleo Script Swash Caps", cursive;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  @include typography(14px, 400, 20px);  //This is For Mobile Device
  @include small-screen {                // This is Above the Mobile Device
    @include typography(18px, 400, 24px);
  }
}

h2 {
  @include typography(32px, 700, 1.2);
  @include small-screen {
    @include typography(42px, 400, 1.2);
  }
}

h3 {
  @include typography(14px, 500, 1.2);
  @include small-screen {
    @include typography(26px, 400, 24px);
  }
}

h4 {
  @include typography(16px, 500, 1.2);
  @include small-screen {
    @include typography(22px, 500, 1.2);
  }
}
